@page
@model PetAdopt.Pages.Posts.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a New Post</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Post.title" class="control-label">Title:</label>
        <input asp-for="Post.title" class="form-control" />
        <span asp-validation-for="Post.title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Post.description" class="control-label">Description:</label>
        <textarea asp-for="Post.description" class="form-control"></textarea>
        <span asp-validation-for="Post.description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Post.animalID" class="control-label">Select an animal:</label>
        <select asp-for="Post.animalID" class="form-control" asp-items="@Model.AnimalsSelectList"></select>
        <span asp-validation-for="Post.animalID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Image:</label>
        <input asp-for="Image" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Create Post</button>
</form>
