@page
@using PetAdopt.Models
@model PetAdopt.Pages.Posts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Post.id" />
            <div class="form-group">
                <label asp-for="Post.title" class="control-label"></label>
                <input asp-for="Post.title" class="form-control" />
                <span asp-validation-for="Post.title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.description" class="control-label"></label>
                <input asp-for="Post.description" class="form-control" />
                <span asp-validation-for="Post.description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post.Location" class="control-label"></label>
                <input asp-for="Post.Location" class="form-control" />
                <span asp-validation-for="Post.Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post.Type" class="control-label"></label>
                <select asp-for="Post.Type" class="form-control">
                    @foreach (var postType in Enum.GetValues(typeof(PostType)))
                    {
                        <option value="@postType">@postType</option>
                    }
                </select>
                <span asp-validation-for="Post.Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input id="imageInput" type="file" class="form-control" />
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('imageInput').addEventListener('change', function () {
            if (this.files && this.files.length > 0) {
                this.setAttribute('required', 'required');
            } else {
                this.removeAttribute('required');
            }
        });
    </script>
}
